/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *=require bootstrap
 *= require_self
 */
 a{
     color: white;
     padding: 10px;
 }
 .card{
    padding: 100px; 
    box-shadow: 0px 1px 10px #c6c5c5;
 }
.cover-login{
    width: 1000px;
}
.cover{
    margin-bottom: 50px;
}
.input-red{
    background: #e40006;
   width: 990.9px;
   height: 82px;
   font-family: Roboto;
    font-size: 25px;
   font-weight: 300;
   letter-spacing: 1.9px;
   text-align: center;
       border: 0;
border-radius: 4px;
margin-bottom: 35px;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.size{
    background: #ffba08;
    width: 990.9px;
    height: 82px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.9px;
    text-align: center;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
}


.forgot-password {
    width: 990.9px;
    height: 71px;
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 1.6px;
    text-align: center;
    color: #e40006;
}
.my-foot{
    background-color: #ffba08;
    height: 200px;
    margin-top: 100px; 
}


.CALL-AM-AHMAD {
    width: 1210px;
    height: 172px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 8.6;
    letter-spacing: 1.7px;
    text-align: center;
    color: #ffffff;
}

.-Mokarar-AbdelAzi {
    width: 971px;
    height: 29px;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
}